{% extends "holonomic/base.html" %}

{% load static %}

{% block content %}
<div class="row">
    <div class="col-6">
        <h3>Control</h3>
        <div class="position-relative">
            <div id="static"></div>
        </div>
    </div>
    <div class="col-6 row">
        <h3>Command</h3>

        <button class="btn btn-outline-primary" onclick="OnTenMeterLineClick()">
            Go forward 10 meters
        </button>

        <button class="btn btn-outline-primary" onclick="SquareMoveClick()">
            Make a 1 meter square
        </button>
        <button class="btn btn-outline-danger" onclick="StopMoving()">
            Stop
        </button>
    </div>
</div>
<script>
    var static = window.nipplejs.create({
        zone: document.getElementById('static'),
        mode: 'static',
        position: { top: '100px', left: '100px' },
        color: 'blue',
        size: 200,
    });

    setInterval(async () => {
        if (this.joystickControl){
            const resp = await fetch('arbitraryMove', {
                method: 'POST',
                body: JSON.stringify({
                    angle: window.joystickPosition.angle.degree,
                    speed: window.joystickPosition.distance,
                })
            })
            cons    
        }
    }, 200)

    static.on('move', (event, pos) => {
        window.joystickControl = true
        window.joystickPosition = pos
    })

    window.OnTenMeterLineClick = async () => {
        window.joystickControl = false
        const resp = await fetch('presetMove', {
                method: 'POST',
                body: JSON.stringify({
                    moveId: 1
                })
            })
            console.log(await resp.json())
    }

    window.SquareMoveClick = async () => {
        window.joystickControl = false
        const resp = await fetch('presetMove', {
                method: 'POST',
                body: JSON.stringify({
                    moveId: 2
                })
            })
            console.log(await resp.json())
    }

    window.StopMoving = async () => {
        window.joystickControl = false
        const resp = await fetch('stopMoving', {
                method: 'POST'
            })
            console.log(await resp.json())
    }
</script>
{% endblock %}